1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/test.csv
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/Sample_Submission.csv
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/Train
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/sub
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/data

*/.ipynb_checkpoints


1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/2010_Census_Populations_by_Zip_Code.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/DR.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/Final_Prediction.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/sample_submission.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/Sample_test.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/test.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/train.csv
1_Neural_Network_Foundations/kaggle_mnist_dataset_digit_recognizer/data


2_Deep_Learning_With_Convolution_Networks/kaggle Digit Recognizer/data

2_Deep_Learning_With_Convolution_Networks/Analytics Vidya Identify the digits/Identify the Digits/data
2_Deep_Learning_With_Convolution_Networks/Analytics Vidya Identify the digits/Identify the Digits/test.csv
2_Deep_Learning_With_Convolution_Networks/Analytics Vidya Identify the digits/Identify the Digits/Sample_Submission.csv
2_Deep_Learning_With_Convolution_Networks/Analytics Vidya Identify the digits/Identify the Digits/Train
2_Deep_Learning_With_Convolution_Networks/Analytics Vidya Identify the digits/Identify the Digits/sub